

	<footer class="bg-primary text-white text-center text-lg-start">
		<!-- Grid container -->
		<div class="container-fluid">
		  <!--Grid row-->
		  <div class="row">
			<!--Grid column-->
			<div class="col">
				<p class="font-weight-bold">MY ACCOUNT</p>
				<p class="font-weight-light">Account Settings</p>
				<p class="font-weight-light">Portfolio</p>
			</div>
			<!--Grid column-->
	  
			<!--Grid column-->
			<div class="col">
			  <p class="font-weight-bold">ABOUT US</p>
			  <p class="font-weight-light">Inside Demo</p>
			  <p class="font-weight-light">Administrative Login</p>
			</div>
			<!--Grid column-->
		  </div>
		  <!--Grid row-->
		</div>
		<!-- Grid container -->
	  
		<!-- Copyright -->
		<div class="text-center">
		  © 2021 Copyright
		  <h6 class="text-center">This is a demo site of a Bullion Store developed by Becky King-Reilly</h6>

		</div>
	  </footer>

		
