<nav class="navbar navbar-default bg-primary">
	<div class="container-fluid">
	  <div class="navbar-header">
		<h1 class="navbar-brand text-white">Demo Bullion Store</h1>
	  </div>
	  <ul class="nav navbar-nav">
		<li class="text-white" name="price" id="rates">Gold  $<%=goldRate.toFixed(2)%> USD </li>
		<li class="text-white">Login</li>
		<li class="text-white">Shopping Cart</li>
	  </ul>
	</div>
  </nav>




