<!DOCTYPE html>
<html>
    <head>

		<%- include ('./partials/head.ejs') %>
    
	</head>
    <body>
        <h1>Gold Inventory Index Page</h1>
<nav>
		<a href="/metals/new">Create New Inventory</a>
</nav>


		<ul>
			<% for(let i = 0; i < metals.length; i++){ %>
				<li>
				<a href="/metals/<%=metals[i].id; %>">
					<%=metals[i].name %>	
				</a>				
				</li>
			<% } %>
		</ul>


    </body>
</html>