<!DOCTYPE html>
<html>
    <head>
        
        <%- include ('./partials/head.ejs') %>

    </head>
    <body>
        <h1>New Gold Inventory</h1>
        <form action="/metals" method="POST">
			Metal: <input type="text" name="name" /> <br/>
			Form: <input type="text" name="form" /> <br />
			Weight: <input type="number" name="weight" /> <br />
			Description: <input type="text" name="description" /> <br />
            Image: <input type="text" name="image" /><br>
            Quantity: <input type="number" name
			<input type="submit" value="Create Inventory" />
		</form>
	
    </body>
</html>