<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Metal show page</h1>
        Metal: <%=metal.name %> <br>
		Ounces: <%=metal.weight %> <br>
        Price: $<%=metal.price %> <br>
		Description: <%=metal.description %> <br>

		<nav>
            <a href="/metals">Back to Index</a>
        </nav>
    </body>
</html>