body {
	background-color:azure;
}

header {
	background-color: midnightblue;
}

.card {
	margin: auto;
}

img {
    width:  100px;
    height: 130px;
}

p {
	margin: 0;
	text-align: center;
}

h1{
	text-align: center;
}